<div id="posting_page">
  <div class="container mb-4 ">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center">Welcome to sharnado!</h1>
        <div class="container text-center">
      <div class="spinner-border" role="status">
  <span class="sr-only">Loading...</span>
</div><a href="/search"><button class="btn btn-danger btn-lg">Go to search</button></a>
      <a href="/post"><button class="btn btn-danger btn-md">Post information</button></a>
      </div>
      </div>
    </div>
  </div>
</div>
<script src="/js/index.js"></script>